# Thư viện tải về (Cực kỳ nặng, không bao giờ push lên Git)
node_modules/
/dist
/build

# File môi trường chứa cấu hình bảo mật, API Key, Token mật
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File rác của hệ điều hành tự sinh ra
Thumbs.db
.DS_Store

# Thư mục cấu hình riêng của VS Code hoặc IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?